name: Firebase Functions CI/CD

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Setup Node.js
        uses: actions/setup-node@v3
        with:
          node-version: 24

      - name: Install dependencies
        run: npm install
        working-directory: ./functions

      - name: Build project
        run: npm run build
        working-directory: ./functions

      - run: firebase deploy --only functions
        working-directory: ./functions
        env:
          FIREBASE_TOKEN: ${{ secrets.FIREBASE_TOKEN }}